body {
  background-color: black;
  font-family: "Montserrat", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  min-height: fit-content;
}

body.modal-open {
  overflow: hidden;
}

.root {
  height: fit-content;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 1rem;
}

@media (max-width: 632px) {
  .app {
    width: fit-content;
  }
}

.common {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-only {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin-controls {
  margin: 2rem 0;
}

@media (max-width: 1440px) {
  .admin-only {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .admin-only {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .admin-only {
    width: 100%;
  }
}

h1 {
  color: white;
  font-family: Arial;
}

.main-container {
  position: relative;
  width: 600px;
  height: 600px;
}

#mainCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #2a5;
}

#visualizerCanvas {
  background-color: rgb(68, 68, 68);
}

#miniMapContainer {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background: none;
}

#miniMapCanvas {
  display: block;
  background-color: black;
  border-radius: 50%;
}

#miniMapContainer .resize-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  cursor: pointer;
}

#miniMapContainer .resize-handle.handle-left {
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: ew-resize;
}

#miniMapContainer .resize-handle.handle-bottom {
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  cursor: ns-resize;
}

#miniMapContainer .maximize-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  font-size: 15px;
  display: none;
}

#miniMapContainer .minimize-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
  background: none;
  padding: 0 5px;
}

#carDashboardContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: none;
}

#carDashboardCanvas {
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}

#carDashboardContainer .maximize-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  font-size: 15px;
  display: none;
}

#carDashboardContainer .minimize-icon {
  position: absolute;
  bottom: 28;
  right: 0;
  font-size: 15px;
  background: none;
  padding: 0 5px;
  text-shadow: 0 0 2px white;
}

button {
  background-color: white;
  font-size: 20px;
  padding: 5px 7px 7px 5px;
  border: none;
  border-radius: 5px;
  text-shadow: 0.5px 0.5px black;
  cursor: pointer;
}

.highlighted {
  position: relative;
  z-index: 1100;
  pointer-events: none;
  border: 2px solid blue;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px blue;
  }
  50% {
    box-shadow: 0 0 20px blue;
  }
  100% {
    box-shadow: 0 0 10px blue;
  }
}

span.app-name {
  letter-spacing: 2px;
  font-weight: 300;
}

.header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.header .app-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header img.logo {
  width: 75%;
  height: 40%;
}

.header .app-title p {
  color: white;
  font-weight: 300;
  font-size: smaller;
  letter-spacing: 1px;
  margin: 0;
}

.header .section {
  display: flex;
  justify-content: space-between;
  width: 15%;
  align-items: center;
}

#helpBtn {
  padding: 10.5px 5px;
}

#helpBtn img {
  width: 1.5rem;
  height: 1.3rem;
}

#editGraphBtn {
  padding: 9px 5px;
}

#editGraphBtn img {
  width: 1.5rem;
  height: 1.5rem;
}

#downloadWorldBtn {
  padding: 10.5px 5px;
}

#downloadWorldBtn img {
  width: 1.5rem;
  height: 1.3rem;
}

#visualizerBtn {
  padding: 9px 5px;
}

#visualizerBtn img {
  width: 1.5rem;
  height: 1.5rem;
}

.toolbox {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.world-toolbox button {
  display: inline-flex;
  align-items: center;
}

.world-toolbox button.clicked {
  background-color: rgb(0, 85, 255);
  box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

.world-toolbox .markings {
  display: flex;
}

.car-select-icon img {
  width: 1.25rem;
  height: 1.3rem;
  margin: 4.6px 0px;
}

.controls {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.controls .section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.controls button {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

.btn-text {
  display: block;
  margin-left: 10px;
  font-size: 15px;
  opacity: 1;
  width: 80%;
}

.btn-text.text-sm {
  font-size: 10px !important;
}

#generateCarsBtn img {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.45rem 0;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

#promptModal label {
  display: inline-flex;
}

#generateNumCarsHint {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#generateNumCarsHint img {
  width: 1rem;
}

#saveConfirmationModal {
  z-index: 1100;
}

#trafficSideChangeModal {
  z-index: 1100;
}

#errorModal {
  z-index: 1100;
}

#confirmingModal {
  z-index: 1100;
}

#loadingModal {
  z-index: 1050;
}

#progressBarModal .modal-dialog {
  width: 50%;
  max-width: 100vw;
}

#progressBarModal .title {
  margin-bottom: 1rem;
  font-size: large;
}

#progressBarModal .progress {
  height: 1.5rem;
  font-size: medium;
}

#progressBarModal .progress-bar {
  width: 0;
}

#appIntroModal .modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: #007bff;
  font-weight: 300;
  text-align: center;
}

#appIntroModal .modal-content {
  width: 100vw;
  max-width: fit-content;
  height: fit-content;
  max-height: 100vh;
  overflow-y: scroll;
}

#appIntroModal .modal-footer {
  display: flex;
  justify-content: space-between;
}

#appIntroModal .modal-section-flex {
  display: flex;
  align-items: center;
}

#appIntroModal .modal-section-flex input#appIntroDontShow {
  width: 1.5rem;
  height: 1.2rem;
  margin: 0.25rem;
}

#appIntroModal .modal-section-flex input#appIntroDontShow + label {
  font-size: 0.8rem;
  margin-bottom: 0;
}

#appIntro {
  text-align: center;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 700px;
}

#appIntro p.intro-message {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.8;
}

#appIntro .cta-section {
  /* call to actions */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

#appIntro .cta {
  position: relative;
  text-align: center;
}

#appIntro .cta-circle {
  width: 100px;
  height: 100px;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#appIntro .cta-circle:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#appIntro .cta-create-circle {
  background-color: #007bff;
}

#appIntro .cta-simulate-circle {
  background-color: #28a745;
}

#appIntro .cta-train-circle {
  background-color: #ffc107;
}

#appIntro .cta-message {
  font-size: 0.8rem;
  color: #555;
  margin-top: 15px;
  line-height: 1.8;
}

#appIntro p.exit-message {
  font-size: 1rem;
  color: #555;
  margin-top: 15px;
  line-height: 1.8;
}

#tutorialModal .modal-footer {
  display: flex;
  justify-content: space-between;
}

#settingsModal .modal-dialog {
  max-height: 80vh;
  height: 80vh;
  overflow: auto;
  z-index: 3;
}

#settingsModal .modal-content {
  height: 100%;
  overflow-y: auto;
}

#settingsModal .modal-body {
  padding: 15px;
  max-height: calc(80vh - 120px);
  overflow-y: auto;
}

#settingsModal .modal-footer {
  display: flex;
  justify-content: space-between;
}

#settingsModal small.error-message {
  color: red;
  display: none;
}

#settingsModal .form-group label {
  display: inline-flex;
}

#settingsModal .form-group.flex > label {
  margin: 1rem;
}

#settingsModal .toggle-off.btn {
  padding-left: 1.2rem;
  padding-top: 0.3rem;
}

#settingsModal .toggle-on.btn {
  padding-left: 0.5rem;
  padding-top: 0.3rem;
}

#settingsModal span.hint {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#settingsModal span.hint img {
  width: 1rem;
}

#worldSettingsDisclaimer {
  border: 1px solid;
  padding: 0.6rem;
  text-align: justify;
  font-style: italic;
  margin-bottom: 0.5rem;
}

#loadWorldModal {
  z-index: 3;
}

#loadWorldModal .modal-dialog {
  max-height: 60vh;
  height: 60vh;
  overflow: auto;
}

#loadWorldModal .modal-content {
  height: 100%;
  overflow-y: auto;
}

#loadWorldModal .modal-body {
  padding: 15px;
  max-height: calc(60vh - 120px);
  overflow-y: auto;
}

#loadWorldModal .modal-loader {
  display: none;
  justify-content: center;
  margin: 4rem;
}

#loadWorldModal button.btn-world-info img {
  width: 1rem;
}

#loadWorldModal .modal-subheader {
  text-align: center;
  margin: 1rem 0;
}

#loadWorldModal .modal-saved-section {
  margin-bottom: 1.5rem;
}

#loadWorldModal .modal-file-section,
#loadWorldModal .modal-data-section {
  padding: 2rem;
  padding-top: 0.5rem;
}

#loadWorldModal .modal-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 1rem;
}

#loadWorldModal .modal-form input {
  overflow: auto;
}

#loadWorldModal .modal-data-section .modal-form {
  flex-direction: column;
}

#loadWorldModal .modal-data-section button {
  margin-top: 1rem;
}

#loadWorldModal div.error-message {
  display: none;
  text-align: center;
  margin: 2rem 0;
}

#loadWorldModal small.error-message {
  color: red;
  display: none;
}

#loadOsmGraphModal div.modal-body {
  display: flex;
  flex-direction: column;
}

#loadOsmGraphModal div.modal-body button {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem;
}

#promptModal small.error-message {
  color: red;
  display: none;
}

.form-group.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-group.flex label {
  margin-bottom: 0;
}

#showSensors {
  width: 25px;
  height: 25px;
  margin: 0 0 0 1rem;
  position: relative;
}

.world-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}

.world-item {
  text-align: center;
  margin: 10px;
  cursor: pointer;
  width: 150px;
}

.world-item img {
  border: 2px solid;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.world-item h4 {
  font-size: 16px;
  color: #333;
  margin: 0.5rem 0;
}

.world-item .world-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the custom dropdown */
#carStyle .dropdown {
  position: relative;
  display: inline-block;
}

#carStyle .dropdown-btn {
  padding-left: 1.5rem;
  width: 7rem;
  height: 42px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#carStyle span.dropdown-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

#carStyle span.dropdown-arrow img {
  width: 1.2rem;
  height: 1.2rem;
}

#carStyle img.dropdown-selected {
  transform: rotate(-90deg);
}

#carStyle .dropdown-content {
  border-radius: 10px;
  padding: 5px;
  display: none;
  position: absolute;
  background-color: #676766;
  min-width: 9.5rem;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 0;
  left: 0;
}

#carStyle .dropdown-selected-icon {
  position: absolute;
  z-index: 2;
  width: 1rem;
  top: 5px;
  left: 8px;
}

#carStyle table {
  min-width: inherit;
}

#carStyle .dropdown-option {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#carStyle .dropdown-option img {
  transform: rotate(-90deg);
}

#carStyle .dropdown-option:hover {
  background-color: #588ded;
}

#carStyle .dropdown-btn:focus {
  outline: none;
  box-shadow: 0px 0px 4px 2.5px #bcd8ff;
}

.or-divider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.or-divider hr {
  width: 100%;
  border: none;
  border-top: 2px solid #ccc;
  margin: 0;
}

.or-text {
  position: absolute;
  background-color: white; /* Matches the background for seamless effect */
  border: 2px solid #ccc;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  text-align: center;
  width: 2rem;
}

.footer {
  background: black;
  color: white;
  padding: 1rem 0;
  position: relative;
}

.footer-content {
  text-align: center;
  width: 100%;
}

.footer-text {
  font-size: 1rem;
  text-align: center;
  color: #ccc;
}

.footer-name {
  color: #bb86fc;
}

